body {
font-family: Arial;
background: #f8f1f3;
margin: 0;
padding: 0;
}

header {
background: #e7b7c8;
color: white;
padding: 20px;
text-align: center;
font-size: 24px;
}

nav {
background: #f3dce4;
padding: 12px;
text-align: center;
}

nav a {
margin: 0 12px;
text-decoration: none;
color: #5c415d;
font-weight: bold;
}

section {
padding: 20px;
color: #4a3b4f;
}

form {
max-width: 500px;
margin: 40px auto;
background-color: #ffffff;
border: 1px solid #e8d7dd;
border-radius: 12px;
padding: 20px;
box-shadow: 0px 2px 6px rgba(0,0,0,0.05);
}

input, textarea {
width: 100%;
padding: 12px;
margin-bottom: 15px;
box-sizing: border-box;
border-radius: 6px;
border: 1px solid #d8c2ca;
background: #faf7f8;
}

button {
width: 100%;
padding: 12px;
background-color: #c48ca1;
color: white;
border: none;
border-radius: 6px;
cursor: pointer;
font-size: 16px;
}

button:hover {
background-color: #b1798f;
}



nav a {
    transition: color 0.3s ease; 
}

nav a:hover {
    color: #ff69b4; 
    
}

button {
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #d64590; 
    cursor: pointer;
}